.Modal {
  position: fixed;
  background-color: white;
  border: 3px solid pink;
  padding: 30px;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App {
  max-width: 992px;
  margin: auto;
  padding: 50px;
}

.ModalTitle {
  font-weight: bold;
}

.concept {
  color: #64A6BD;
}

.skill {
  color: #DE6C83;
}

