.Modal {
  position: fixed;
  background-color: white;
  border: 3px solid pink;
  padding: 30px;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App {
  max-width: 992px;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ModalTitle {
  font-weight: bold;
}

.concept {
  color: #64A6BD;
}

.skill {
  color: #DE6C83;
}

.App button {
  width: 145px;
  font-size: 23px;
  padding: 15px;
  border: 3px solid pink;
  background-color: white;
  cursor: pointer;
}

